
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      
      <%# タブ機能実装 %>  
      <ul class="tabs-menu">
        <li><a href="#tabs-1">問題リスト: <%= tasks.count %></a></li>
        <li><a href="#tabs-2">チェックリスト: <%= done_tasks.count %></a></li>
        <li><a href="#tabs-3">進捗状況</a></li>
      </ul>
      
      
      <section class="tabs-content">
        <section id="tabs-1">
          
          <%# アコーディオン機能 %>
          <div class='accordion'>
            <% tasks.each do |task| %>
              <section>
                <%# タイトル(表)%>
                <div class="accordion-title">
                  <a href="#"><%= task.title %></a>
                </div>
                <%# 内容(裏)%>
                <div class="accordion-content">
                  <a href="#">
                    <%= task.content %>
                  </a>
                </div>
                <%#タグ表示 %>
                <% task.tag_list.each do |tag| %>
                  <%= link_to tag, tasks_path(tasklist_tag_name: tag), class:'tag'%>
                <% end %>
                <%# ボタン配置%>
                <% if task.status == 0 %>
                    <%= button_to 'もう一回', class: 'btn btn-primary' %>
                    <%= button_to '1Day' %>
                    <%= button_to '3Day' %>
                    <%# <%= button_to 'OK!', register_path(:task), method: :put, class: 'btn btn-success' %>
                  <% elsif task.status == 1 %>
                    <%= button_to 'もう一回' %>
                    <%= button_to '3Day' %>
                    <%= button_to '1Week' %>
                    <%= button_to 'OK!' %>
                  <% elsif task.status == 2 %>
                    <%= button_to '始めから' %>
                    <%= button_to 'もう一回' %>
                    <%= button_to '3Day' %>
                    <%= button_to '1Week' %>
                    <%= button_to '2Week' %>
                    <%= button_to 'OK!' %>
                  <% elsif task.status == 3 %>
                    <%= button_to '始めから' %>
                    <%= button_to 'もう一回' %>
                    <%= button_to '1Week' %>
                    <%= button_to '2Week' %>
                    <%= button_to '1Month' %>
                    <%= button_to 'OK!' %>
                  <% elsif task.status == 4 %>
                    <%= button_to '始めから' %>
                    <%= button_to 'もう一回' %>
                    <%= button_to '1Month' %>
                    <%= button_to '3Month' %>
                    <%= button_to 'OK!' %>
                <% end %>
                
                <%= button_to '編集', edit_task_path(task), {method: :get} %>
              </section>
            <% end %>
          </div>
          
        </section>


        <section id ="tabs-2">
          <% unless done_tasks == nil %>
            <%= render 'tasks/checklist', done_tasks: done_tasks, tasks: tasks %>
          <% else %>
            <p>復習する問題はありません</p>
          <% end %>
        </section>

        <section id ="tabs-3">
          <% unless done_tasks == nil %>
          <%= render 'tasks/graph', done_tasks: done_tasks %>
          <% end %>
        </section>
      </section>

  </div>
</div>



